{{ define "main" }}

    
    <header class="major">
       
        
                    <h2 class="dark-blk page-head">{{ .Params.pageTitle }}</h2>
                </header>
                   
        <section class="current affinities-page">
                    <p id="facts">
                        <p class="noMarg">
                            {{ range .Site.Data.affinities.items.reading }}  
                            <span class="emphasis"> Current reading: &nbsp;</span><a href="{{ .bookLink }}" target="_blank">{{ .bookTitle }}</a> - {{ .authorName }}<br />
                            {{ end }} 
                            {{ range .Site.Data.affinities.items.movie }}  
                            <span class="emphasis"> Last good movie: &nbsp;</span><a href="{{ .movieLink }}" target="_blank">{{ .movieTitle }}</a><br />
                            {{ end }} 
                            {{ range .Site.Data.affinities.items.rotation }}  
                            <span class="emphasis"> Heavy rotation: &nbsp;</span><a href="{{ .songLink }}" target="_blank">{{ .songTitle }}</a> - {{ .artistName }}<br />
                            {{ end }} 
                        </p>
                      
                        <div id="recentSongs">
                            <div class="attribute">
                                <span class="emphasis"> Recently played: &nbsp;</span>
                            </div>	
                            <div class="value">	
                                <span class="listening-to"></span> &nbsp;|&nbsp;
                                    <a class="collapsed emphasis" data-toggle="collapse" href="#showSongs" role="button" aria-expanded="false" aria-controls="collapseExample">
                                            More &nbsp;<i class="icon fa-carat-down"></i> 
                                    </a>
                                <div class="collapse grey" id="showSongs">
                                    <ul class="minusOne"><span class="listening-to2"></span></ul>
                                </div>
                            </div>	
                        </div>
                        <div class="attribute-value">
                            <span class="emphasis"> Recently played: &nbsp;</span><span class="listening-to"></span> &nbsp;|&nbsp;
                            <a class="collapsed emphasis" data-toggle="collapse" href="#showSongs2" role="button" aria-expanded="false" aria-controls="collapseExample">
                                    More &nbsp;<i class="icon fa-carat-down"></i> 
                            </a>
                            <div class="collapse grey" id="showSongs2">
                                <ul class="minusOne"><span class="listening-to2"></span></ul>
                            </div>
                        </div>
                    </p>
                   
      </section>
      <section class="influences affinities-page">
            <span class="emphasis">Art & Design Influences</span>  
            <ul class="news-link-list">
                    {{ range ( .Params.artInfluenceMultiple ) }}
                    <li>
                        {{ .influence | safeHTML }}<br />
                        {{ with .comment }}<span>{{ . | safeHTML }}</span>{{ end }}
                    </li>
                {{ end }}  
                {{ range ( .Params.artInfluences ) }}
                    <li>
                        {{ .influence }}: <a href="{{ .link }}" target="_blank">{{ .bookTitle }}</a><br />
                        {{ with .comment }}<span>{{ . | safeHTML }}</span>{{ end }}
                    </li>
                {{ end }}  
            </ul>    
      </section>
   

    
       
{{ end }}

