{{ define "main" }}

    
    <header class="major">
       
        
                    <h2 class="dark-blk page-head">{{ .Params.pageTitle }}</h2>
                </header>
                   
        <section class="current affinities-page">
                    <p id="facts">
                        
                            <ul class="hollowCircle noMarg">
                            {{ range .Site.Data.affinities.items.reading }}
                                <li>
                                    Current reading: &nbsp;<a href="{{ .bookLink }}" target="_blank">{{ .bookTitle }}</a> - {{ .authorName }}<br />
                                </li>  
                            {{ end }}
                            {{ range .Site.Data.affinities.items.movie }} 
                                <li> 
                                    Last good movie: &nbsp;<a href="{{ .movieLink }}" target="_blank">{{ .movieTitle }}</a><br />
                                </li> 
                            {{ end }} 
                                
                            {{ range .Site.Data.affinities.items.rotation }} 
                                <li>
                                    Heavy rotation: &nbsp;<a href="{{ .songLink }}" target="_blank">{{ .songTitle }}</a> - {{ .artistName }}<br />
                                </li>
                            {{ end }} 
                          
                       
                            <li id="recentSongs">  
                        <div >
                           
                             
                            <div class="attribute">
                                <span class=""> Recently played: &nbsp;</span>
                            </div>	
                            <div class="value">	
                                <span class="listening-to"></span> &nbsp;|&nbsp;
                                    <a class="collapsed emphasis" data-toggle="collapse" href="#showSongs" role="button" aria-expanded="false" aria-controls="collapseExample">
                                            More &nbsp;<i class="icon fa-carat-down"></i> 
                                    </a>
                                <div class="collapse grey" id="showSongs">
                                    <ul class="minusOne"><span class="listening-to2"></span></ul>
                                </div>
                            </div>
                            
                          	
                        </div>
                    </li> 
                    <li class="attribute-value">  
                        <div >
                            
                             
                            <span class="emphasis"> Recently played: &nbsp;</span><span class="listening-to"></span> &nbsp;|&nbsp;
                            <a class="collapsed emphasis" data-toggle="collapse" href="#showSongs2" role="button" aria-expanded="false" aria-controls="collapseExample">
                                    More &nbsp;<i class="icon fa-carat-down"></i> 
                            </a>
                            <div class="collapse grey" id="showSongs2">
                                <ul class="minusOne"><span class="listening-to2"></span></ul>
                            </div>
                        </div>
                            </li>
                            </ul>
                        
                   
                    </p>
                   
      </section>
      <section class="influences affinities-page">
            <span class="emphasis">Art & Design Books I Like</span>  
            <ul class="news-link-list">
                    {{ range ( .Params.artInfluenceMultiple ) }}
                    <li>
                        {{ .influence | safeHTML }}<br />
                        {{ with .comment }}<span>{{ . | safeHTML }}</span>{{ end }}
                    </li>
                {{ end }}  
                {{ range ( .Params.artInfluences ) }}
                    <li>
                        {{ .influence }}: <a href="{{ .link }}" target="_blank">{{ .bookTitle }}</a><br />
                        {{ with .comment }}<span>{{ . | safeHTML }}</span>{{ end }}
                    </li>
                {{ end }}  
            </ul>    
      </section>
      <section class="pinterest">
        <a data-pin-do="embedBoard" data-pin-board-width="800" data-pin-scale-height="480" data-pin-scale-width="160" href="https://www.pinterest.com/jminton66/of-visual-interest/"></a>
      </section>
      <script async defer src="//assets.pinterest.com/js/pinit.js"></script>
   

    
       
{{ end }}

