{{ define "main" }}

    {{ .Content }}
    
    <header class="major">
       
           
               
                    <h2 class="dark-blk page-head">{{ .Params.pageTitle }}</h2>
                
      
    </header>

    <section class="current news-weather">
        <div class="picWell">
                {{ with .Site.Params.weatherThumb.thumb }}<img src="../images/{{ . }}">{{ end }}
            </div>
            <div class="copyWell">
              
                <p id="facts">
                    <span id="weather"></span><br />
                    <span id="forecast"></span>
                </p>
            </div>
    </section> 
    <section class="news-links">  
        <span class="emphasis">Recent headlines</span>  
        <ul class="news-link-list">
            {{ range first 20 ( .Params.newsListDisplay ) }}
                <li>
                    <a href="{{ .link }}" target="_blank">{{ .news }}</a><br />
                    <span>{{ .comment }}</span>
                </li>
            {{ end }}  
        </ul>    
        
        
        {{ $paginator := .Paginate .Data.Pages }}


            {{ range $paginator.Pages }}

                
               
            {{ end }}
    
        {{ partial "pagination" . }}

    </section>     
        <script>
            var requestURL = 'https://api.openweathermap.org/data/2.5/weather?id=5128581&units=imperial&appid=e7cb9d72811c190120ddb2017b4d078a';
            var request = new XMLHttpRequest();
            request.open('GET', requestURL);
            request.responseType = 'json';
            request.send();
            request.onload = function() {
              var weather = request.response;
              populateWeather(weather);
              showWeather(weather);
            }
            function populateWeather(jsonObj) {
              var myPara = document.createElement('span');
              var sunriseConvert = jsonObj['sys']['sunrise'];
              var mySunrise = new Date( sunriseConvert *1000);
              var sunsetConvert = jsonObj['sys']['sunset'];
              var mySunset = new Date( sunsetConvert *1000);
              myPara.innerHTML = '<span class="emphasis">Current NYC weather </span><br /> ' + '<span class="capitalize">' + jsonObj['weather'][0]['description'] + '</span>' + ', ' + jsonObj['main']['temp'] + '˚ F '
              + '<br />Humidity: ' +jsonObj['main']['humidity'] + '%' ;
              document.getElementById("weather").appendChild(myPara);
              document.getElementById("forecast").innerHTML = 'Sunrise: ' + [mySunrise.getHours()] + ':' + [mySunrise.getMinutes()] + ' am &nbsp;|&nbsp; ' + 'Sunset: ' + [mySunset.getHours() -12] + ':' + [mySunset.getMinutes()] + ' pm' ;
            }
            function showWeather(jsonObj) {}
           

        </script>  
{{ end }}

