<section class="affinity-lead">
    <div class="picWell">
            {{ with .Site.Params.affinityThumb.thumb }}<img src="../images/{{ . }}">{{ end }}
        </div>
        <div class="copyWell">
          
                {{ with .Site.Params.affinityLead.title }}<h2>{{ . | markdownify }}</h2>{{ end }}
         

    {{ range .Site.Pages }}
    {{ if eq .Params.listType "affinities" }}
       
            <p class="noMarg">
                    {{ range .Site.Data.affinities.items.reading }}  
                    <span class="emphasis"> Current reading: &nbsp;</span><a href="{{ .bookLink }}" target="_blank">{{ .bookTitle }}</a> - {{ .authorName }}<br />
                    {{ end }} 
                    {{ range .Site.Data.affinities.items.movie }}  
                    <span class="emphasis"> Last good movie: &nbsp;</span><a href="{{ .movieLink }}" target="_blank">{{ .movieTitle }}</a><br />
                    {{ end }} 
                    {{ range .Site.Data.affinities.items.rotation }}  
                    <span class="emphasis"> Heavy rotation: &nbsp;</span><a href="{{ .songLink }}" target="_blank">{{ .songTitle }}</a> - {{ .artistName }}<br />
                    {{ end }} 
            </p>
        {{ end}}
        {{ end }}
   

<ul class="recent-posts section-head pgButton">
     
        <li>
                <div class="picWell"></div>
                <div class="post-list section-more">
                    <a class="icon fa-carat" href="/affinities">More affinities </a>
                    
                </div>
            </li>
 
    </ul>  
 </div>
</section>  