<section class="updates">

	<div class="row">
        <ul class="recent-posts section-head">
            {{ with .Site.Params.recentposts.title }}
            <li>
                    <div class="picWell"></div>
                    <div class="post-list">
                            <a href="/updates"><h2>{{ . }}</h2></a>
                        
                    </div>
                </li>
        {{ end }}
        </ul>
        <br>
        
        <ul class="recent-posts post-list">
        {{ range first 2 (where .Data.Pages "Section" "updates") }}
            <li>
                <div class="picWell {{ .Params.specialClass }}"><img src="../images/{{ .Params.thumb }}" /></div>
                <div class="post-list">
                    <a class="post-title-link" href="{{ .Permalink }}">{{ .Title }}</a>
                    <p class="post-summary">{{ .Params.listSummary | markdownify }} <a class="post-list-readmore icon fa-carat" href="{{ .Permalink }}">read more </a></p>
                    
                </div>
            </li>
        {{ end }}

        </ul>
       
        <ul class="recent-posts section-head">
         
            <li>
                    <div class="picWell"></div>
                    <div class="post-list section-more">
                        <a class="icon fa-carat" href="/updates">More updates </a>
                        
                    </div>
                </li>
     
        </ul>
        
</section>
