
/* */
img.circleRadius {
    border-radius: 90%;
    filter: grayscale(100%);
    display: none !important;
}
.grayscale {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}
.brightness {
    -webkit-filter: brightness(1.9) grayscale(100%);
    filter: brightness(2.2) grayscale(100%);
}
ul.recent-posts {
    list-style: none;
}
@media screen and (max-width: 1280px) {

#header h1 br {
    display: initial;
    }
}
html {
    font-size: 62.5%;
}
@media screen and (max-width: 767px) {
    #main {
        padding: 2.25em 1.5em 0.25em 1.5em;
    }
}
#header {
    background-color: #1f1815;
    background-image: url("images/overlay.png"), url("../images/adirondacks.jpg");
    &.fall {
        background-image: url("images/overlay.png"), url("../images/adirondacks.jpg");
    }
    &.summer {
        background-image: url("images/overlay.png"), url("../images/summer-maui.jpg");
    }
    /* background-image: url("../images/cyan-fog2.jpg"); */
    @include for-980-up {
        background-color: #1f1815;
        background-attachment: scroll, fixed;
        /* background-image: url("../images/cyan-fog2.jpg"); */
        background-position: top left, top left;
        background-repeat: repeat, no-repeat;
        background-size: auto, auto 107%;
        color: rgba(255, 255, 255, 0.5);
        height: 100%;
        left: 0;
        padding: 8em 4em 0 0;
        position: fixed;
        text-align: right;
        top: 0;
        width: 33%;
        }
    }
    #sidebar ul {
        display: flex;
        justify-content: center;
    }
    #sidebar ul li a, #sidebar ul li a a:visited {
        color: #fdfdfd;
        text-decoration: none;
        line-height: 3.6rem;
        letter-spacing: 0.04rem;
        /* font-weight: 900; */
        font-family: 'Crimson Text', serif;
        /* text-decoration: underline; */
        border: 2px solid #c6c6c6;
        padding: 4px 14px 8px;
        border-radius: 4px;
        background: rgba(20, 51, 42, 0.3);
    }
    p, span {
        color: #848484;
        color: #828282;
        color: #646464;
    }
    .about p {
       /* color: #afafaf; */
    }
    div#facts {
        /* padding: 2.4rem;
        border: 2px dotted gainsboro;
        background-color: #fdfdfd;
        margin-top: 3rem; */
    }
    #main > section.about {
        padding-top: 1.6rem;
    }

    .picWell {
        width: 120px;
        margin: auto;
        margin-bottom: 24px;
    }
    .section-head {
        .picWell {
            display: none;
        }
    }
    .picWell img {
        border-radius: 90%;
        width: 120px;
    }
    a.post-title-link {
        font-size: 1.6rem;
        letter-spacing: 0.09rem;
        padding-bottom: 1.5rem;
        line-height: 2.4rem;
        display: block;
        text-align: center;
    }
    p {
        margin: 0 0 1.7rem 0;
        font-size: 1.6rem;
        line-height: 2.65rem;
        letter-spacing: 0.03rem;
    }
    header.major  {
        h2 {
        font-size: 3.2rem;
        color: #333;
        padding-bottom: 1.4rem;
        text-align: center;
        }
    }
    section h2 {
        font-size: 2.9rem;
        color: #333;
        padding-bottom: 1.4rem;
        text-align: center;
    }
    a.post-list-readmore {
            font-size: 2rem;
            line-height: 2.8rem;
            letter-spacing: 0.03rem;
            display: initial; 
            margin-top: 1.6rem;
        
    }
    ul.recent-posts {
        width: 100%;
            &.post-list {
                margin-bottom: 0;
            }
        li {  
            padding: 0 0 4rem;
            font-size: 1.6rem;
            }
        }
    .updates ul.recent-posts.post-list {
        margin-bottom: 0;
    }
    .post-list.section-more {
        text-align: center;
    }    
    ul.actions {
        margin-left: auto;
        margin-right: auto;
    }
   
    
/* ---- TABLET UP --------------------------------------------------- */    
    @include for-768-up {
        #main {
            padding: 4em;
        }
        #main > section.about {
            padding-top: 0rem;
        }
        a.post-title-link {
            font-size: 1.6rem;
            letter-spacing: 0.09rem;
            padding-bottom: 1.5rem;
            line-height: 2.4rem;
            display: inline-block;
            text-align: left;
        }
        p {
            margin: 0 0 1.7rem 0;
            font-size: 1.6rem;
            line-height: 2.65rem;
            letter-spacing: 0.01rem;
        }
        .about {
            display: flex;
        }
        .picWell {
            margin: initial;
            margin-right: 4rem;
            width: 120px;
            margin-bottom: 0;
        }
        .section-head {
            .picWell {
                display: initial;
            }
        }
        .picWell img {
            border-radius: 90%;
            width: 120px;
        }
        header.major  {
            h2 {
            font-size: 3.2rem;
            color: #333;
            padding-bottom: 1.4rem;
            text-align: left;
            }
        }
        section h2 {
            font-size: 2.9rem;
            color: #333;
            padding-bottom: 1.4rem;
            text-align: left;
        }
        a.post-list-readmore {
                font-size: 2rem;
                line-height: 2.8rem;
                letter-spacing: 0.03rem;
                display: block; 
                margin-top: 1.6rem;
            
        }
        ul.recent-posts {
            width: initial;
                &.post-list {
                    margin-bottom: 0;
                }
            li {  
                padding: 0 0 4rem;
                font-size: 1.6rem;
                }
            }
        .updates ul.recent-posts.post-list {
            margin-bottom: 0;
        }    
        .post-list.section-more {
            text-align: left;
        }
        ul.actions {
            margin-left: 0;
            margin-right: 0;
        }
    }   

/* --------------- DESKTOP UP ----------------------- */


    @include for-980-up {
        p {
            font-size: 1.7rem;
            line-height: 2.6rem;
        }
        a.post-title-link {
            font-size: 1.7rem;
            line-height: 2.6rem;
            padding-bottom: 1.7rem;
        }
        a.post-list-readmore {
            font-size: 2.1rem;
            margin-top: 2rem;
        }
        #main, #header {
            padding-top: 10rem;
        }
        #header {
            padding-right: 8rem;
        }
        #main {
            padding-left: 8rem;
        }
        #main > section {
            
        }
        #sidebar ul {
            display: block;
        }
        #sidebar ul li a, #sidebar ul li a a:visited {
            border: none;
            padding: initial;
            background: none;
        }
        span.emphasis {
            font-size: 2.1rem;
        }
        #footer {
            padding: 0 8rem 6em 0;
            width: 33%;
        }
       
        #main {
            margin-left: 33%;
            width: calc(100% - 33%)
        }
        .updates {
            margin-top: 4rem !important;
            .row {
                margin: 0;
            }
        }
        
    }

#main > section {
    border-top: solid 2px #efefef;
    margin: 6px 0 0 0;
    padding: 3.2rem 0 0 0;
    @include for-980-up {
        padding: 4rem 0 0 0;
    }
}
a.post-title-link {
    text-transform: uppercase;
    font-weight: 500;
    color: #333;
    border-bottom: none;
}
a.post-list-readmore {
    font-variant: small-caps;
    font-weight: 600;
}
p.post-summary {
    margin-bottom: 0rem;
}
.post-list.section-more {
    font-size: 1.8rem; 
    letter-spacing: 0.12rem;
    /* font-variant: small-caps; */
    padding-bottom: 24px;
    padding-top: 10px;
    @include for-980-up {
        padding-top: 0;
    }
    a.icon {
        border: 2px dotted;
        padding: 7px 17px;
        border-radius: 4px;
        &:hover {
            background-color: #49bf9d;
            color: #fff !important;
            border: 2px dotted #49bf9d;
            padding: 7px 17px;
        }
    }
}
input[type="submit"].icon.fa-carat {
    font-size: 1.8rem; 
    letter-spacing: 0.12rem;
    /* font-variant: small-caps; */
    border: 2px dotted #49bf9d;
    color: #49bf9d !important;
    padding: 13px 20px;
    border-radius: 6px;
    line-height: 0;
    &:hover {
        background-color: #49bf9d;
        color: #fff !important;
        border: 2px dotted #49bf9d;
        padding: 13px 20px;
    }
    &:after {
        content: "\f054";
    }
}


.updates {
    margin-top: 4rem !important;
    .row {
        margin: 0;
    } 

ul.recent-posts {
    padding: 0;
    margin: 0 0 2.4rem;
    @include for-980-up {
        &.post-list {
            margin-bottom: 0;
        }
    }
    li {  
        @include for-768-up {
        display: flex;
        }
        @include for-980-up {
            padding: 0 0 4.8rem;
            font-size: 1.6rem;
            
        }
    }
    &.section-head li {
        padding: 0;
    }
    }
}
/* ------------- UPDATES PAGE ---------------------- */


h2.dark-blk.page-head {
    text-align: center;
    @include for-980-up {
        text-align: left;
    }
}
.updates.updates-page {
    margin-top: 1.4rem !important;
    ul.recent-posts li {
        padding: 0 0 0.8rem;
    }
    @include for-980-up {
       
    ul.recent-posts {
        margin-bottom: 0;
        li {
                padding: 0 0 2.4rem;
                font-size: 1.6rem;
                }
            }
    }
}
section.updates.updates-page:last-child {
    padding-bottom: 4rem !important;
}
@include for-980-up {
    section.updates.updates-page:last-child {
        padding-bottom: 0rem !important;
    }
}

/* html {
    font-size: 62.5%; // sets sitewide font sizes based on user's font size in browser
  } */

/* ------- News & Weater + Recent Tracks ------------- */
#main section.current {
   @include for-768-up {
        display: flex;
   }
    margin-bottom: 4rem;
}
#recentSongs {
    display: flex;
    .attribute {
        min-width: 135px;
    }
}

ul.minusOne {
    position: relative;
    margin-bottom: 0;
    padding-left: 0;
    li {
        list-style: none;
        padding-left: 0;
        &:first-child {
            display: none;
        }
    }
}

/* -------- CONTACT --------- */

#contact-form, #contact-header {
    @include for-768-up {
        display: flex;
    }
    h2 {
        padding-bottom: 2.4rem;
    }
}
ul.labeled-icons {
    display: none;
}
#contact-form {
    .row.uniform {
        margin: 0;
    }
    .copyWell {
        margin-left: -20px;
    }
}