// Fonts

$bodyfont: 'Lora', serif;

// device breakpoints
$mobile: 767px; // mobile device breakpoint
$gtMobile: 768px; // greater than mobile device breakpoint
$tabletLimit: 1023px; // max width of tablet landscape
$gt768: 768px; 
$gt980: 981px;
$tabletLandscapeHeight: 690px; // max tablet landscape height
$smDesktopLimit: 1439px; // 
$gtMidDesktop: 1440px; // greater than midsize desktop device breakpoint
$gtLargeDesktop: 1599px; // greater than large desktop device breakpoint
$gtLaptop: 1439px; // greater than laptop device breakpoint


// some other breakpoint/range stuff

@mixin for-phone-only {
  @media (max-width: $mobile) { @content; }
}
@mixin for-tablet-portrait-up {
  @media (min-width: $gtMobile) { @content; }
}
@mixin for-tablet-portrait-thru-sm-desktop {
  @media (min-width: $gtMobile) and (max-width: $smDesktopLimit) { @content; }
}
// 768-1023px
@mixin for-tablet-portrait-and-landscape {
  @media (min-width: $gtMobile) and (max-width: $tabletLimit) { @content; }
}  
@mixin for-tablet-portrait-only {
  @media (min-width: 768px) and (max-width: 1023px) { @content; }
}
@mixin for-768-up {
  @media (min-width: $gt768) { @content; }
}
@mixin for-980-up {
  @media (min-width: $gt980) { @content; }
}
// 1024-1439px 
@mixin sm-thru-med-desktop {
  @media (min-width: $gt980) and (max-width: $smDesktopLimit) { @content; }
}
// 1440+ 
@mixin for-midsize-desktop-up {
  @media (min-width: $gtMidDesktop) { @content; }
}

// Global

a {
  border-bottom: none;
}
body {
 /*  color: #848484; */
 -webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale;
}

.bold {
  font-weight: 600;
}
.grey {
    color: #afafaf;
}
.dark-blk {
  color: #333;
}
.capitalize {
  text-transform: capitalize;
}
.noMarg {
  margin: 0;
}
span.emphasis {
  color: #6b6b6b;
  color: #2b2b2b;
  font-variant: all-petite-caps;
    font-size: 2rem;
    letter-spacing: 0.03rem;
}
p a {
  transition: border-bottom .2s;
  &:hover {
    /* color: #ef5b1e; */
    /* border-bottom: 1px solid #49bf9d */
    
  }
}
header.major {
  h2 {
    &.page-head {
        padding-bottom: 1.9rem !important;
    }
  }
}  
a.emphasis i.icon.fa-carat-down {
  bottom:1px;
}
a.emphasis.collapsed i.icon.fa-carat-down {
  top:3px;
}
a.emphasis {
  font-variant: all-petite-caps;
  letter-spacing: 0.03rem;
  font-size: 1.9rem;
  i.icon:after {
    font-size: 1.9rem;
  }
}
.icon {
  display: inline-block;
}
.fa-carat, .fa-carat-down, .fa-carat-up {
  &:after {
   
      font-size: 1.2rem;
    
  }
}
.fa-carat:after {
  content: "\f054";
}
.fa-carat-down:after {
  content: "\f077";
}

a.collapsed i.icon.fa-carat-down {
  transform: rotate(.5turn);
  -webkit-transform: rotate(.5turn);
}
.fa-carat-up:after {
  content: "\f054";
}
.icon:after {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-transform: none !important;
}


@import 'homepage';
@import 'single';
